---
import Layout from "../layout/Layout.astro";
import {Image} from "astro:assets";
import presentationImg from "../assets/presentation.webp";
---

<Layout>
    <div class="relative">
        <Image class="w-full -z-10 " src={presentationImg} alt="presentation"/>
        <div class="p-20 bg-white left-1/4 flex justify-center items-center absolute align-middle top-1/4">
            <h1>Financial Literacy for all</h1>
        </div>
    </div>
</Layout>